.cockpit {
    display: flex;
    flex-flow: row nowrap;
    
}

.cockpit * {
    width: 33%;
    height: 25vh;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
}

.playRulesBtn {
    height: 50px;
    width: 200px;
    padding: 8px;
}

.title {
    width: 100%;
    font-weight: 800;
    font-size: 3rem;
    padding: 8px;
    color: rgb(35, 212, 204);
}

.restartBtn {
    height: 50px;
    width: 150px;
    padding: 8px;
}